.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

div.toolbar p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: xx-large;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
